body {
	padding-top: 15px;
}

#edges > a.label {
  display: inline-block;
  font-weight: normal;
}

div[data-notify="container"] > span[data-notify="title"] {
  font-weight: bold;
}

form#new-edge > .form-group:last-of-type {
  margin-bottom: 0 !important;
}

.panel-body > dl {
  margin-bottom: 0 !important;
}
