/* Отступ страницы */
body {
	padding-top: 15px;
}

/* Жирные заголовок для уведомлений */
div[data-notify="container"] > span[data-notify="title"] {
  font-weight: bold;
}

form#new-edge > .form-group:last-of-type {
  margin-bottom: 0 !important;
}

.panel-body > dl {
  margin-bottom: 0 !important;
}
